.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../public/1.png);
  background-repeat: no-repeat;
  background-position: cover;
}
.main {
  padding: 5rem 0;
}
